{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"target": "esnext",
		"loose": false,
		"externalHelpers": true,
		"keepClassNames": true,
		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},
		"preserveAllComments": true
	},
	"minify": false,
	"sourceMaps": true,
	"module": {
		"type": "es6",
		"strict": true
	}
}
